{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["module-resolver", {
            "root": "./src",
            "alias": {
                "~": "./src",
                "models": "./src/models",
                "controllers": "./src/controllers",
                "routes": "./src/routes"
            }
        }]
    ]
}